# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY='changeme_in_production'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG=False

# Database Configuration
# DB_NAME=
# DB_USER=
# DB_PASSWORD=
# DB_HOST=
# DB_PORT=
